{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>이주배경청소년 소개</title>
  <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>
  <div class="container my-5">

    <div style="background-color: white; border-left: 10px solid #4CAF50; border-radius: 20px; padding: 20px 30px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); margin: 40px 0; text-align: center;">
      <span style="display: inline-block; white-space: nowrap; max-width: 100%; font-size: 5vw; font-weight: bold; color: #2E7D32; font-family: 'Pretendard', sans-serif;">
        이주배경청소년이란?
      </span>
    </div>

    <div style="display: flex; justify-content: center; align-items: center; gap: 10px; margin-top: 30px; font-weight: 600; font-size: 1.8rem; color: #2E7D32;">
    <div style="width: 6px; height: 33px; background-color: #4CAF50; border-radius: 3px;"></div>
     <span>이주배경청소년의 정의</span>
    </div><br>

      <p style="max-width: 100%; width: 100%; height: auto; font-size: clamp(1rem, 4vw, 1.4rem);; line-height: 1.8; color: #000000; font-weight: 400; margin-top: 10px; text-align: center;">
        이주배경청소년은 부모 혹은 본인이 이주의 경험을 지닌<br>
        9세에서 24세 이하의 연령에 속하는 사람을 뜻합니다.<br><br>
        초기에는 "다문화 청소년"이라는 용어가 사용되었지만<br>
        다양한 배경을 가진 청소년 모두를 이해·존중하기 위해<br>
        "이주배경청소년"이라는 용어를 사용하게 되었습니다.
      </p><br>

    <div style="display: flex; justify-content: center; align-items: center; gap: 10px; margin-top: 30px; font-weight: 600; font-size: 1.8rem; color: #2E7D32;">
    <div style="width: 6px; height: 33px; background-color: #4CAF50; border-radius: 3px;"></div>
     <span>이주배경청소년의 유형</span>
    </div><br><br>

    <div style="text-align: center;">
      <h2 style="font-weight: 600; font-size: 1.4rem; color: #000000 !important;">국제결혼가정 및 외국인가정자녀</h2>
      <img class="img-fluid d-block mx-auto" style="display: flex; max-width: 80%; width: 100%; height: auto; border-radius: 0" src="{% static 'images/info2.png'%}" alt="이주배경 청소년 유형1" style="max-width: 100%; height: auto; border-radius: 8px; margin-bottom: 1rem;" />
      <br><br>

      <h2 style="font-weight: 600; font-size: 1.4rem; color: #000000 !important;">탈북 배경 청소년</h2>
      <img class="img-fluid d-block mx-auto" style="display: flex; max-width: 80%; width: 100%; height: auto; border-radius: 0" src="{% static 'images/info1.png'%}" alt="이주배경 청소년 유형2" style="max-width: 100%; height: auto; border-radius: 8px; margin-bottom: 1rem;" />
      <br><br><br>
    </div>


    <div style="display: flex; justify-content: center; align-items: center; gap: 10px; margin-top: 30px; font-weight: 600; font-size: 1.8rem; color: #2E7D32;">
    <div style="width: 6px; height: 33px; background-color: #4CAF50; border-radius: 3px;"></div>
     <span>이것만은 알아맞혀조!</span>
    </div><br>

    <div style="text-align: center;">
      <img class="img-fluid d-block mx-auto" style="display: flex; max-width: 80%; width: 100%; height: auto; border-radius: 0" src="{% static 'images/graph1-2.png'%}" alt="2024 다문화 가정 재학 현황" style="max-width: 100%; height: auto; border-radius: 8px; margin-bottom: 1rem;" />
      <p style="max-width: 100%; width: 100%; height: auto; font-size: clamp(1rem, 4vw, 1.4rem);; line-height: 1.8; color: #000000; font-weight: 400; margin-top: 10px; text-align: center;">
        행정안전부의 지방자치단체 외국인주민 현황에 따르면,<br>
        이주배경청소년의 수는 지속적으로 증가하고 있으며<br><br>
        이는 이주배경청소년이 이미 우리 사회의 구성원이자<br>
        소중한 동료임을 의미합니다.
      </p><br><br>
      

      <img class="img-fluid d-block mx-auto" style="display: flex; max-width: 80%; width: 100%; height: auto; border-radius: 0" src="{% static 'images/graph2.png'%}" alt="연도별 다문화 가정 학생 수" style="max-width: 100%; height: auto; border-radius: 8px; margin-bottom: 1rem;" />
      <p style="max-width: 100%; width: 100%; height: auto; font-size: clamp(1rem, 4vw, 1.4rem);; line-height: 1.8; color: #000000; font-weight: 400; margin-top: 10px; text-align: center;">
        우리 사회에는 다양한 배경을 지닌<br>이주배경청소년들이 함께하고 있습니다.<br><br>
        이들과 함께 서로의 다양성을 존중하며<br>어울려 살아가는 사회로 나아갈 수 있도록<br>
        이들의 삶과 목소리에 귀기울여 보는 건 어떨까요?
      </p><br><br>
    </div>
  </div>  
</body>
</html>
