{% load static %}

<p style="text-align: center; padding: 10%; max-width: 100%; background-color: #f5fdf7;">
    <span style="font-weight: bold; color: #4CAF50 !important;">참고문헌</span>
    <br><br>
    행정안전부. (2022–2024). <i>지방자치단체 외국인주민 현황</i>. 행정안전부. <a href="https://bit.ly/3SRCdDg">2021</a> <a href="https://bit.ly/4jmrFa6">2022</a> <a href="https://bit.ly/4kgy8EO">2023</a><br>
    교육부. (2024). <i>2024년 교육기본통계 조사 결과 발표</i>. 교육부. <a href="http://bit.ly/43gpoZm">http://bit.ly/43gpoZm</a><br>
    이주배경청소년지원재단. (n.d.). <i>이주배경청소년이란 - 개념</i>. <a href="https://www.rainbowyouth.or.kr/introduction/summary.do">링크</a><br>
    이주배경청소년지원재단. (n.d.). <i>이주배경청소년이란 - 현황</i>. <a href="https://www.rainbowyouth.or.kr/introduction/status.do">링크</a><br>
    이주배경청소년지원재단. (n.d.). <i>지원 기관 현황</i>. <a href="https://www.rainbowyouth.or.kr/introduction/supportOrganization.do">링크</a><br>

    <a href="https://www.flaticon.com/free-icons/friends" title="friends icons">Friends icons created by Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/instagram-logo" title="instagram logo icons">Instagram logo icons created by Freepik - Flaticon</a>    
</p>
</html>

